.thumbnail-container {
    width: 1fr;
    height: auto;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all .1s ease-in-out,
}

.thumbnail-container:hover {
    transform: scale(1.1)
}

.img-container {
    align-self: center;
}
img {
    width: 150px
}

.item-name, .item-price, .item-quantity {
    padding: 0;
    margin: 5px;
}